<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1410,4},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,80}</string>
                <key>spriteSourceSize</key>
                <string>{130,80}</string>
                <key>textureRect</key>
                <string>{{918,4},{130,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1054,4},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1146,4},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1410,50},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,80}</string>
                <key>textureRect</key>
                <string>{{4,4},{320,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform_shadow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,80}</string>
                <key>textureRect</key>
                <string>{{330,4},{320,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,80}</string>
                <key>spriteSourceSize</key>
                <string>{16,80}</string>
                <key>textureRect</key>
                <string>{{1456,4},{16,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_corner_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1238,4},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_corner_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1324,4},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_decor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,80}</string>
                <key>textureRect</key>
                <string>{{656,4},{256,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1476,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c664f96afdf7682b055a18c5b489b692:14439fb471e480e0a652d84313c0fc63:93ba7cf1e51b6278545d53b0d47e664e$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
